@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}


body {
    background-color: hsl(235, 18%, 26%);
    font-family: Roboto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: white;
    border-radius: 18px;
    padding: 30px;
    margin: 50px;
}

.card {
    color: hsl(234, 29%, 20%);
    font-family: Roboto;
    margin: 30px;
    
}

h1 {
    font-weight: 700;
    font-size: 52px;
}

p {
    font-size: 16px;
}

#email {
    font-weight: 700;
}

input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px black;
}

button {
    height: 55px;
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    margin-top: 20px;
    font-weight: bold;
    
}

ul {
  list-style-type: disc;
  list-style-image: url("./assets/images/icon-list.svg");
  padding: 22px;
}

li {
    padding:  5px 10px;
}

input, button {
    box-sizing: border-box;
}

/* .lower {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
} */

button:hover {
    background: linear-gradient(#e66465, #9198e5);
}